<h1 align="center">Ajout d'un Client</h1>
<br/>
<br/>


<form>

	Agent ID:<input type="number" ng-model="agentID">
	
	Nom du Client:<input type="text" ng-model="client.nom">
	
	Téléphone du Client:<input type="text" ng-model="client.telephone">
	
	Numero:<input type="text" ng-model="client.adresse.numero">
	
	Rue:<input type="text" ng-model="client.adresse.rue">
	
	Code Postal:<input type="text" ng-model="client.adresse.cp">
	
	Ville:<input type="text" ng-model="client.adresse.ville">	
	<input type="button" ng-click="ajout()" value="Ajouter">
	
</form>

<table class="table table-bordered" ng-show="clientCreated">
	<thead>
		<tr>
			<td>Id</td>
			<td>Nom</td>
			<td>Telephone</td>
			<td>Numéro</td>
			<td>Rue</td>
			<td>Code Postal</td>
			<td>Ville</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr>
			<td>{{client.id}}</td>
			<td>{{client.nom}}</td>
			<td>{{client.telephone}}</td>
			<td>{{client.adresse.numero}}</td>
			<td>{{client.adresse.rue}}</td>
			<td>{{client.adresse.cp}}</td>
			<td>{{client.adresse.ville}}</td>
		</tr>
	</tbody>
</table>

<h1 align="center">{{message}}</h1>