<h1 align="center">Ajout d'un Client</h1>
<br/>
<br/>


<form>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Agent ID</td>
			<td>Nom</td>
			<td>Téléphone</td>
			<td>Numéro</td>
			<td>Rue</td>
			<td>Code Postal</td>
			<td>Ville</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr>
			<td><input type="number" ng-model="agentID"></td>
			<td><input type="text" ng-model="inClient.nom"></td>
			<td><input type="text" ng-model="inClient.telephone"></td>
			<td><input type="text" ng-model="inClient.adresse.numero"></td>
			<td><input type="text" ng-model="inClient.adresse.rue"></td>
			<td><input type="text" ng-model="inClient.adresse.cp"></td>
			<td><input type="text" ng-model="inClient.adresse.ville"></td>
		</tr>
	</tbody>
	
</table>
	<input type="button" ng-click="ajout()" value="Ajouter">
</form>
<br/>
<table class="table table-bordered" ng-show="clientCreated">
	<thead>
		<tr>
			<td>Client ID</td>
			<td>Nom</td>
			<td>Telephone</td>
			<td>Numéro</td>
			<td>Rue</td>
			<td>Code Postal</td>
			<td>Ville</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{outClient.id}}</td>
			<td>{{outClient.nom}}</td>
			<td>{{outClient.telephone}}</td>
			<td>{{outClient.adresse.numero}}</td>
			<td>{{outClient.adresse.rue}}</td>
			<td>{{outClient.adresse.cp}}</td>
			<td>{{outClient.adresse.ville}}</td>
		</tr>
	</tbody>
</table>

<h1 align="center">{{message}}</h1>