<h1 align="center">Liste des Clients</h1>
<br/>
<br/>

<form>
	ID Agent: <input type="number" ng-model="agentID">
	<input type="button" ng-click="agentSelect()" value="Restreindre">
	<input type="button" ng-click="agentDeSelect()" value="Annuler">
</form>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Id</td>
			<td>Nom</td>
			<td>Telephone</td>
			<td>Numéro</td>
			<td>Rue</td>
			<td>Code Postal</td>
			<td>Ville</td>
			<td>Operations</td>
		</tr>
	</thead>
	
	<tbody ng-repeat="client in listeClients">
		<tr>
			<td>{{client.id}}</td>
			<td>{{client.nom}}</td>
			<td>{{client.telephone}}</td>
			<td>{{client.adresse.numero}}</td>
			<td>{{client.adresse.rue}}</td>
			<td>{{client.adresse.cp}}</td>
			<td>{{client.adresse.ville}}</td>
			<td><a ng-click="modifLien(client)">Modifier</a> | <a ng-click="selectClient(client)">Sélectionner</a></td>
		</tr>
	</tbody>
</table>

<h1 align="center">{{message}}</h1>

<table class="table table-bordered" ng-show="clientSelected">
	<thead>
		<tr>
			<th colspan="7">Client sélectionné</th>
		</tr>
		<tr>
			<td>Id</td>
			<td>Nom</td>
			<td>Telephone</td>
			<td>Numéro</td>
			<td>Rue</td>
			<td>Code Postal</td>
			<td>Ville</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr>
			<td>{{selectedClient.id}}</td>
			<td>{{selectedClient.nom}}</td>
			<td>{{selectedClient.telephone}}</td>
			<td>{{selectedClient.adresse.numero}}</td>
			<td>{{selectedClient.adresse.rue}}</td>
			<td>{{selectedClient.adresse.cp}}</td>
			<td>{{selectedClient.adresse.ville}}</td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered" ng-show="clientSelected">
	<thead>
		<tr>
			<th>Critères de recherche</th>
		</tr>
		<tr ng-show="rechLoc">
			<td>Loyer Maxi</td>
			<td>Surface Min</td>
			<td>Surface Max</td>
			<td>Type de Bien</td>
			<td>Localisation</td>
		</tr>
		
		<tr ng-show="rechAch">
			<td>Prix Maxi</td>
			<td>Surface Min</td>
			<td>Surface Max</td>
			<td>Type de Bien</td>
			<td>Localisation</td>
		</tr>
	</thead>
	
	<tbody >
		<tr ng-show="rechLoc">
			<td>{{selectedClient.criteres.loyerMax}}</td>
			<td>{{selectedClient.criteres.surfaceMin}}</td>
			<td>{{selectedClient.criteres.surfaceMax}}</td>
			<td>{{selectedClient.criteres.bien}}</td>
			<td>{{selectedClient.criteres.ville}}</td>
		</tr>
		
		<tr ng-show="rechAch">
			<td>{{selectedClient.criteres.prixMax}}</td>
			<td>{{selectedClient.criteres.surfaceMin}}</td>
			<td>{{selectedClient.criteres.surfaceMax}}</td>
			<td>{{selectedClient.criteres.bien}}</td>
			<td>{{selectedClient.criteres.ville}}</td>
		</tr>
	</tbody>
</table>

