
<form>
	<button ng-click="logout()">Logout</button>
</form>

<h1 align="center" style="margin-top: 200px;" ng-init="init()">Accueil</h1>
{{message}}

<div class="form-group">
	<label for="idDate" class="col-sm-2 control-label">Date</label>
	<div class="col-sm-4">
		<input type="datetime-local" class="form-control" id="idDate"
			ng-model="date">
	</div>
</div>

<br />
<br />

<!-- <div class="row"> -->
<!-- 	<div class="col-lg"> -->
<!-- 		<div class="card" ng-repeat="visite in nextVisiteListeToday" -->
<!-- 			style="background-color: orange; width: 250px"> -->
<!-- 			<div class="card-body"> -->
<!-- 				<h4 class="card-title">Visite {{visite.client.nom}}</h4> -->
<!-- 				<span class="card-text"> Date : {{visite.date}} | Heure : -->
<!-- 					{{visite.heure}} <br /> ID du bien : {{visite.bien.id}} -->
<!-- 				</span> <br /> <a href="#" class="card-link">Aller vers la page du -->
<!-- 					bien</a> <br /> <a href="#" class="card-link">Aller vers la page -->
<!-- 					du client</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="col-lg"> -->
<!-- 		<div class="card" ng-repeat="visite in nextVisiteListeTomorrow" -->
<!-- 			style="background-color: orange; width: 250px"> -->
<!-- 			<div class="card-body"> -->
<!-- 				<h4 class="card-title">Visite {{visite.client.nom}}</h4> -->
<!-- 				<span class="card-text"> Date : {{visite.date}} | Heure : -->
<!-- 					{{visite.heure}} <br /> ID du bien : {{visite.bien.id}} -->
<!-- 				</span> <br /> <a href="#" class="card-link">Aller vers la page du -->
<!-- 					bien</a> <br /> <a href="#" class="card-link">Aller vers la page -->
<!-- 					du client</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="col-lg"> -->
<!-- 		<div class="card" ng-repeat="visite in nextVisiteListeAfterTomorrow" -->
<!-- 			style="background-color: orange; width: 250px"> -->
<!-- 			<div class="card-body"> -->
<!-- 				<h4 class="card-title">Visite {{visite.client.nom}}</h4> -->
<!-- 				<span class="card-text"> Date : {{visite.date}} | Heure : -->
<!-- 					{{visite.heure}} <br /> ID du bien : {{visite.bien.id}} -->
<!-- 				</span> <br /> <a href="#" class="card-link">Aller vers la page du -->
<!-- 					bien</a> <br /> <a href="#" class="card-link">Aller vers la page -->
<!-- 					du client</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->

<div style="display: flex; justify-content: left"
	ng-repeat="visite in nextVisiteListeToday">
	<div class="panel panel-primary"
		style="width: 270px; margin-right: 10px">
		<div class="panel-heading">Visite {{visite.client.nom}}</div>
		<div class="panel-body">
			Date : {{visite.date}} | Heure : {{visite.heure}} <br /> ID du bien
			: {{visite.bien.id}}
			<div style="text-align: center">
				<input type="checkbox" ng-model="afficheBien"> Voir le bien
				| <input type="checkbox" ng-model="afficheClient"> Voir le
				client
			</div>
		</div>
	</div>

	<div class="panel panel-success" ng-show="afficheBien"
		style="width: 270px; margin-right: 10px">
		<div class="panel-heading">Bien</div>
		<div class="panel-body">
			ID : {{visite.bien.id}} <br /> Date de disponibilite :
			{{visite.bien.dateDispo}} <br /> Type : {{visite.bien.typeBien}} <br />
			Adresse : {{visite.bien.adresse.numero}} {{visite.bien.adresse.rue}}
			{{visite.bien.adresse.cp}} {{visite.bien.adresse.ville}}
		</div>
	</div>

	<div class="panel panel-danger" ng-show="afficheClient"
		style="width: 270px; margin-right: 10px">
		<div class="panel-heading">Client</div>
		<div class="panel-body">
			Nom : {{visite.client.nom}} <br /> Telephone :
			{{visite.client.telephone}} <br /> Adresse :
			{{visite.client.adresse.numero}} {{visite.client.adresse.rue}}
			{{visite.client.adresse.cp}} {{visite.client.adresse.ville}}
		</div>
	</div>
</div>

<!-- <img src="assets/images/villa.jpg"> -->

