<h1 align="center">Ajout d'un Bien d'Achat</h1>
<br/>
<br/>

<form class="form-horizontal">
	<div class="form-group">
		<label for="idDateSoumission" class="col-sm-2 control-label">Date Soumission :</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="idDateSoumission" ng-model="bienAchatForm.dateSoumission">
		</div>
	</div>
	<div class="form-group">
		<label for="idDateDispo" class="col-sm-2 control-label">Date Dispo :</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="idDateDispo" ng-model="bienAchatForm.dateDispo">
		</div>
	</div>
	<div class="form-group">
		<label for="idDisponible" class="col-sm-2 control-label">Disponible :</label>
		<div class="col-sm-4">
			<input type="checkbox" class="form-control" id="idDisponible" ng-model="bienAchatForm.disponible">
		</div>
	</div>
	<div class="form-group">
		<label for="idTypeBien" class="col-sm-2 control-label">Type de Bien :</label>
		<div class="col-sm-4">
			<select ng-model="bienAchatForm.typeBien" ng-options="key as value for (key , value) in listeTypesBien"></select>
		</div>
	</div>
	<div class="form-group">
		<label for="idEtatBien" class="col-sm-2 control-label">Etat :</label>
		<div class="col-sm-4">
			<select ng-model="bienAchatForm.etatBien" ng-options="key as value for (key , value) in listeEtatsBien"></select>
		</div>
	</div>
	<div class="form-group">
		<label for="idPrixVente" class="col-sm-2 control-label">Prix :</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idPrixVente" ng-model="bienAchatForm.prixVente">
		</div>
	</div>
	<div class="form-group">
		<label for="idRue" class="col-sm-2 control-label">Rue :</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idRue" ng-model="bienAchatForm.adresse.rue">
		</div>
	</div>
	<div class="form-group">
		<label for="idNumero" class="col-sm-2 control-label">Numéro :</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idNumero" ng-model="bienAchatForm.adresse.numero">
		</div>
	</div>
	<div class="form-group">
		<label for="idCP" class="col-sm-2 control-label">Code Postal :</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idCP" ng-model="bienAchatForm.adresse.cp">
		</div>
	</div>
	<div class="form-group">
		<label for="idVille" class="col-sm-2 control-label">Ville :</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idVille" ng-model="bienAchatForm.adresse.ville">
		</div>
	</div>
	<div class="form-group">
		<label for="idProp" class="col-sm-2 control-label">Id Propriétaire :</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idProp" ng-model="idProp">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-primary" ng-click="addBienAchat()">Ajouter</button>
		</div>
	</div>
</form>

