<h1 align="center">Ajout d'un Bien de Location</h1>
<br/>
<br/>

<form class="form-horizontal">
	<div class="form-group">
		<label for="idDateSoumission" class="col-sm-2 control-label">Date Soumission :</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="idDateSoumission" ng-model="bienLocationForm.dateSoumission">
		</div>
	</div>
	<div class="form-group">
		<label for="idDateDispo" class="col-sm-2 control-label">Date Dispo :</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="idDateDispo" ng-model="bienLocationForm.dateDispo">
		</div>
	</div>
	<div class="form-group">
		<label for="idDisponible" class="col-sm-2 control-label">Disponible :</label>
		<div class="col-sm-4">
			<input type="checkbox" class="form-control" id="idDisponible" ng-model="bienLocationForm.disponible">
		</div>
	</div>
	<div class="form-group">
		<label for="idTypeBien" class="col-sm-2 control-label">Type de Bien :</label>
		<div class="col-sm-4">
			<select ng-model="bienLocationForm.typeBien" ng-options="typeBien.key as typeBien.value for typeBien in listeTypesBien"></select>
		</div>
	</div>
	<div class="form-group">
		<label for="idLoyer" class="col-sm-2 control-label">Loyer :</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idLoyer" ng-model="bienLocationForm.loyer">
		</div>
	</div>
	<div class="form-group">
		<label for="idCaution" class="col-sm-2 control-label">Caution :</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idCaution" ng-model="bienLocationForm.caution">
		</div>
	</div>
	<div class="form-group">
		<label for="idCharges" class="col-sm-2 control-label">Charges :</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idCharges" ng-model="bienLocationForm.charges">
		</div>
	</div>
	<div class="form-group">
		<label for="idMeuble" class="col-sm-2 control-label">Meuble :</label>
		<div class="col-sm-4">
			<input type="checkbox" class="form-control" id="idMeuble" ng-model="bienLocationForm.meuble">
		</div>
	</div>
	<div class="form-group">
		<label for="idTypeBail" class="col-sm-2 control-label">Type de Bail :</label>
		<div class="col-sm-4">
			<select ng-model="bienLocationForm.typeBail" ng-options="typeBail.key as typeBail.value for typeBail in listeTypesBail"></select>
		</div>
	</div>
	<div class="form-group">
		<label for="idRue" class="col-sm-2 control-label">Rue :</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idRue" ng-model="bienLocationForm.adresse.rue">
		</div>
	</div>
	<div class="form-group">
		<label for="idNumero" class="col-sm-2 control-label">Numéro :</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idNumero" ng-model="bienLocationForm.adresse.numero">
		</div>
	</div>
	<div class="form-group">
		<label for="idCP" class="col-sm-2 control-label">Code Postal :</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idCP" ng-model="bienLocationForm.adresse.cp">
		</div>
	</div>
	<div class="form-group">
		<label for="idVille" class="col-sm-2 control-label">Ville :</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="idVille" ng-model="bienLocationForm.adresse.ville">
		</div>
	</div>
	<div class="form-group">
		<label for="idProp" class="col-sm-2 control-label">Propriétaire :</label>
		<div class="col-sm-4">
			<select ng-model="idProp" ng-options="proprietaire.key as proprietaire.value for proprietaire in listeProprietaires"></select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-primary" ng-click="addBienLocation()">Ajouter</button>
		</div>
	</div>
</form>
